* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Radley';
  font-size: 1.2rem;
}

title {
  color: pink;
}


#myModal {
  background: none;
  border: none;
  /* color: blue; */
  /* font-family: 'Courgette'; */
  /* font-size: 2em;
  padding: 0; */
}
#myModal > i {
  color:#F4BDFF;
}

#myModal:hover > i {
  color: #E76EFE;
  /* border: 3px solid #365884; */
}

.bg {
  background-image: url("../assets/images/background.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}


.nmb {
  font-family: 'Courgette';
  font-size: 3rem;
  color: white;
  /* margin-top: 2vh; */
}

.ux {
  font-family: 'Courgette';
  font-size: 2rem;
  color: white;
}


/* seccion 2 */

.back {
  /* background: pink; */
  background-image: url("../assets/images/back.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}

.bgfooter {
  background-color: rgba(0,0,0,0.5);
  padding: 0;
  margin: 0;
}

.bgModal {
  /* background-color: #ffffff; */
  background-image: url("../assets/images/fondo.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}

.fnt {
  font-family: 'Courgette';
  font-size: 2em;
}

.prtf {
  color: #F4BDFF;
  min-height: 100vh;
  /* font-family: 'Courgette';
  font-size: 2em;
  text-decoration: none; */
}

.prtf:hover {
  color: #E76EFE;
  /* border: 3px solid #365884; */
}

.bfPortafolio {
  background-image: url("../assets/images/bgportafolio.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}

/* proyectos*/
.bgtxt {
  background-color: rgba(244,219,254, 0.5);
  color: rgba(252,251,252,.9)
}

.rotacion { 
  transform:perspective(600px) rotateX(400deg);
}
