* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.nmb {
  font-family: 'Courgette';
  font-size: 5vw;
  color: white;
  margin-top: 2vh;
}

.ux {
  font-family: 'Courgette';
  font-size: 3vw;
  color: white;
}


/* seccion 2 */

.back {
  background-image: url("../assets/images/back.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
