* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Radley';
  font-size: 1.2em;
}

#myModal {
  background: none;
  border: none;
  color: blue;
  font-family: 'Courgette';
  font-size: 2em;
  padding: 0;
}

#myModal:hover {
  color: #F7E900;
  border: 3px solid #365884;
}

.bg {
  background-image: url("../assets/images/background.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}


.nmb {
  font-family: 'Courgette';
  font-size: 5vw;
  color: white;
  margin-top: 2vh;
}

.ux {
  font-family: 'Courgette';
  font-size: 3vw;
  color: white;
}


/* seccion 2 */

.back {
  /* background: pink; */
  background-image: url("../assets/images/back.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}

.bgfooter {
  background-color: rgba(93,191, 220, 0.7);
  padding: 0;
  margin: 0;
}

.bgModal {
  /* background-color: #ffffff; */
  background-image: url("../assets/images/fondo.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}

.fnt {
  font-family: 'Courgette';
  font-size: 2em;
}

.prtf {
  color: blue;
  font-family: 'Courgette';
  font-size: 2em;
  text-decoration: none;
}

.prtf:hover {
  color: #F7E900;
  border: 3px solid #365884;
}

.bfPortafolio {
  background-image: url("../assets/images/bgportafolio.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}
