<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <section class="container-fluid back">
      <!--logo-->
      <header class="row">
        <div class="col-3 mt-3 ml-3">
          <a href="home.html"><img src="../assets/images/Logo.png" alt="logo" class="img-fluid"></img>
          </a>
        </div>
      </header>

      <!--Sobre mí-->
      <div class="row mt-3 mb-3">
        <div class="col-sm-7 text-center">
          <h2 class="text-center mt-3">Nancy Santana</h2>
          <p class="mt-4 ml-3">Soy una persona interesada en aprender día a día, me gusta colaborar y trabajar en equipo, responsable con lo que hago, perseverante y tenaz.
          </br>Siempre en busca de mi crecimiento personal y profesional.</p>

          <p class="ml-4 mt-5">Nancy es una profesional integral. Ha sabido aprovechar cada una de las herramientas que Laboratoria le ha dado con excelencia, agilidad y perseverencia. Es muy adaptable y no tiene miedo a los retos. Es de mucho valor en un equipo de trabajo.
          </br><strong><cite title="Source Title">Lucile Baratier, Laboratoria</cite></strong></p>
          <p class="ml-4">Nancy ha salido adelante de cada dificultad que ha atravesado su camino, enfrenta las experiencias desde una postura de autorresponsabilidad y compromiso
          </br><strong><cite title="Source Title">Paulina Treviño, Laboratoria</cite></strong></p>
            <p class="ml-4">Nancy ha tenido un crecimiento impresionante a lo largo del bootcamp. Desde que comenzó en el track de UX, se ha desenvuelto de forma extraordinaria y ha demostrado ser toda una profesional. Sin duda su perseverancia la va a hacer triunfar donde ella esté.
          </br><strong><cite title="Source Title">Karla Nava, Laboratoria</cite></strong></</p>
        </div>
        <div class="col-sm-4 mb-5">
          <img src="../assets/images/nancy.png" alt="foto nancy" class="img-thumbnail img-fluid">
        </div>
      </div>

        <!-- contacto -->
        <footer class="bgfooter ">
          <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
          <div class="row d-flex justify-content-sm-center">
            <div class="col-6 col-sm-6 mt-8 d-flex align-items-center">
              <!-- boton de modal -->
              <button id="myModal" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Contactame</button>
              <!-- Aquí comienza el modal -->
              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content col-12 bgModal">
                    <div class="row">
                      <div class="col-12">
                        <div class="col-3 mt-3 mb-5">
                          <a href="home.html"><img src="../assets/images/Logo.png" alt="logo" class="img-fluid"></img>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-5 ml-2">
                      <div class="offset-1 col-3">
                        <a href="https://github.com/Nancysantana"><i class="fa fa-github fa-2x" ></i></a>
                      </div>
                      <div class="col-3">
                        <a href="https://www.linkedin.com/in/nancysantana-/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                      </div>
                      <div class="col-3">
                        <a href="https://slack.com/signin"><i class="fa fa-slack fa-2x">Nancy Sanatana</i></a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-2 col-8 mb-5">
                        <a href="https://accounts.google.com/Login/signinchooser?hl=ES&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa fa-envelope-o fa-1x"> yaretsita.27@gmail.com / nancy.santana.h@gmail.com</i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Aquí termina modal -->
            </div>
            <!-- firma -->
            <!-- <div class="col-4 col-sm-4 ">
              <p>©CopyrigthNancySantanä</p>
            </div> -->
            <!-- link portaolio -->
            <div class="col-6  col-sm-4">
              <a class="prtf" href="proyectos.html">Portafolio</a>
            </div>
          </div>
        </footer>
      </section>



    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
