<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NancySantana</title>
    <link rel="icon" href="../assets/images/nany1.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Reem+Kufi|Rochester" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
    <section class="container-fluid">
      <div class="row">
        <div class="col-lg-3 fixed-top d-none d-sm-block">
          <div class="row bg-menú">
            <div class=" offset-1 col-lg-10">
              <img src="../assets/images/Logo.png"  class="img-fluid" alt="Logo">
            </div>
            <div class="offset-2 col-lg-8 text-center">
              <button id="sobremi" data-name="sobremi" type="button" style="background-color: transparent; color: #BA8959; border: none; margin: 4px 3px; font-size: 1.5em; " name="button">Acerca de mí</button>
              <button id="portafolio" data-name="portafolio" type="button"  style="background-color: transparent; color: #BA8959; border: none; margin: 4px 6px; font-size: 1.5em;" name="button">Portafolio</button>
              <button id="contacto" data-name="contacto" type="button"  style="background-color: transparent; color: #BA8959; border: none; margin: 4px 6px; font-size: 1.5em;" name="button">Contacto</button>
            </div>
          </div>
        </div>
        <!-- menú mov. -->
         <!-- fixed-top d-none d-sm-block -->
        <div class="col-12  fixed-top d-block d-sm-none">
          <div class="row bg-menú-mov">
            <div class="offset-3 col-6" style="height: 14vh;">
              <img src="../assets/images/Logo.png" class="img-fluid" style="margin-top: 11px;"alt="Logo">
            </div>
            <div class="col-12 bg-v text-center">
              <button id="sobremimovil" data-name="sobremi" type="button" style="background-color: transparent; color: #FFFFFF; border: none; margin: 4px 6px" name="button">Acerca de mí</button>
              <button id="portafoliomovil" data-name="portafolio" type="button" style="background-color: transparent; color: #FFFFFF; border: none; margin: 4px 6px" name="button">Portafolio</button>
              <button id="contactomovil" data-name="contacto" type="button" style="background-color: transparent; color: #FFFFFF; border: none; margin: 4px 6px" name="button">Contacto</button>
            </div>
          </div>
        </div>
        <!--Linea verde-->
        <div class="offset-lg-3 col-lg-9">
          <div class="row">
            <div class="offset-lg-3 col-lg-9 bg-v fixed-top d-none d-sm-block">
            </div>
            <!-- sobre mí -->
            <div id="sobremiinfo" class="col-lg-12 text-center mt5">
              <h2 class="" style="height:80px;"> Nancy Santana</h2>
              <div class="offset-lg-4 offset-2 col-8 col-lg-4">
                <img src="../assets/images/nancys.png" class="img-fluid" alt="Foto nancy">
              </div>
              <p class="mt-5 txt2">Soy una persona interesada en aprender día a día, me gusta colaborar y trabajar en equipo, responsable con lo que hago, perseverante y tenaz.</p>
              <p class="txt2">Siempre en busca de mi crecimiento personal y profesional.</p>
            </div>
            <!-- proyectos -->
            <div id="proyectoinfo" class="col-lg-12 mt5" hidden>
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="col-lg-12 mt-3">
                      <img src="../assets/images/bbva.png" class="img-fluid" alt="BBVAPlan">
                    </div>
                    <div class="card-body text-center">
                      <h3 class="card-title">BBVAPlan</h3>
                      <p class="card-text txtp">Es una aplicación que te ayuda a crear metas de ahorro personalizado, escogiendo reglas de ahorro a tu gusto de manera gratuita y sin comisiones.</p>
                      </p>
                      <a href="https://github.com/Nancysantana/BBVAPlanCobraUnit" class="btn btnn" target="_blank">Leer más</a>
                      <a href="https://invis.io/M7GS95C9SCA" class="btn btnn" target="_blank"> Proyecto</a>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="col-lg-12 mt-3">
                        <img src="../assets/images/360.png" class="img-fluid" alt="viajeseguro 360">
                      </div>
                      <div class="card-body text-center">
                        <h3 class="card-title">Viaje Seguro 360</h3>
                        <p class="card-text txtp">Proyecto de optimización de journey del usuario al viajar de Ciudad de México a Cuernavaca y propuesta de solución basada en investigación.</p>
                        </p>
                        <a href="https://github.com/Nancysantana/Viaje-seguro-360" class="btn btnn" >Leer más</a>
                        <a href="https://fotos.subefotos.com/4a9cf0cc537a129767754593b99889f2o.png" class="btn btnn" target="_blank">Proyecto</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="col-lg-12 mt-3">
                        <img src="../assets/images/savethechildren.png" class="img-fluid" alt="savethechildren">
                      </div>
                      <div class="card-body text-center">
                        <h3 class="card-title">Save the children</h3>
                        <p class="card-text txtp">Optimizar una Landing Page con el objetivo de crear una solución para optimizar el journey de un usuario que llega a Landing Page de Save The Children y convertirlo en DONANTES.</p>
                        <a href="https://github.com/Nancysantana/save_the_children" class="btn btnn" target="_blank" >Leer más</a>
                        <a href="https://andreagurod.wixsite.com/save2save" class="btn btnn" target="_blank">Proyecto</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="col-lg-12 mt-3">
                        <img src="../assets/images/foodmap.png" class="img-fluid" alt="Foodmap">
                      </div>
                      <div class="card-body text-center">
                        <h3 class="card-title">Foodmap</h3>
                        <p class="card-text txtp">Permite realizar una busqueda de tipos de comida la cual te mostrara el nombre de los Restaurantes. Te ofrece la dirección, sugerencia de platillo y si cuenta con servicio a domicilio.</p>
                        <a href="https://nancysantana.github.io/foodmap/" class="btn btnn" target="_blank">Leer más</a>
                        <a href="https://github.com/Nancysantana/foodmap" class="btn btnn" target="_blank">Proyecto</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--contacto-->
            <div id="contactoinfo" class="col-12 mt5" hidden>
              <div class="row">
                <div class="col-lg-6 col-12 co-m">
                  <h2 class="text-center mb-5">Habilidades</h2>
                  <img src="../assets/images/habilidad.png" class="img-fluid" alt="Foto nancy">
                </div>
                <div class="col-12 col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2 class="text-center mb-5">Contacto</h2>
                    </div>
                    <div class="row">
                      <div class="offset-lg-3  col-3 col-lg-2 text-center">
                        <a href="https://drive.google.com/file/d/1KeU38Y4cG7rXzWX9urg6ViFhGoLOxe6U/view" target="_blank" class="col-lg-11"><i class="far fa-file fa-2x"></i></a>
                      </div>
                      <div class="col-9 col-lg-7 ">
                        <p class="txt">Resumen Nancy Santana</p>
                      </div>
                      <div class="offset-lg-3 col-3 col-lg-2 text-center">
                        <a href="#" class="col-lg-2"><i class="far fa-envelope fa-2x"></i></a>
                      </div>
                      <div class="col-9 col-lg-7">
                        <p class="txt">nancy.santana.h@gmail.com</p>
                      </div>
                      <div class="offset-lg-3 col-3 col-lg-2  text-center">
                        <a href="#" class="col-lg-12"><i class="fas fa-mobile-alt fa-2x"></i></a>
                      </div>
                      <div class="col-9 col-lg-7">
                        <p class="txt">(55) 67 66 04 70</p>
                      </div>
                      <div class="offset-lg-3 col-3 col-lg-2 text-center">
                        <a href="https://github.com/Nancysantana" target="_blank" class="col-lg-12" ml-5>  <i class="fab fa-github fa-2x "></i> </a>
                      </div>
                      <div class="col-9 col-lg-7">
                        <p class="txt">NancySantana</p>
                      </div>
                      <div class="offset-lg-3 col-3 col-lg-2 text-center">
                        <a href="https://www.linkedin.com/in/nancysantana-/" target="_blank" class="col-lg-12"><i class="fab fa-linkedin-in fa-2x "></i></a>
                      </div>
                      <div class="col-9 col-lg-7">
                        <p class="txt">Nancy santana</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script src="../js/pagechange.js" charset="utf-8"></script>
  </body>
</html>
