<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <section class="conteiner-fluid bfPortafolio">
      <div class="row d-flex  align-items-center">
        <div class="offset-1 col-6 text-center mt-5 ">
          <h2>BBVA Plan</h2>
          <p>BBVA Plan es una aplicación que te ayuda a crear metas de ahorro personalizado, escogiendo reglas de ahorro a tu gusto de manera gratuita y sin comisiones.</p>
          <!-- https://github.com/Nancysantana/BBVAPlanCobraUnit -->
        </div>
        <div class="col-3">
            <a href="https://github.com/Nancysantana/BBVAPlanCobraUnit" target="_blank"><img src="../assets/images/bbva.png" alt="bbva" class="img-fluid"></img>
        </div>
      </div>
      <div class="row mt-5 d-flex  align-items-center">
        <div class="offset-1 col-6 ">
          <a href="https://github.com/Nancysantana/save_the_children" target="_blank"><img src="../assets/images/save.png" alt="SaveTheChildren " class="img-fluid"></img></a>
        </div>
        <div class="col-5 text-center">
          <h2>SaveTheChildren</h2>
          <p>Optimizar una Landing Page con el objetivo de crear una solución para optimizar el journey de un usuario que llega a Landing Page de Save The Children y convertirlo en DONANTES.</p>
        </div>
      </div>

      <div class="row mt-5 d-flex  align-items-center">
        <div class="offset-1 col-6 text-center">
          <h2>ViajeSeguro360</h2>
          <p>Proyecto de optimización de journey del usuario al viajar de Ciudad de México a Cuernavaca y propuesta de solución basada en investigación.</p>
        </div>
        <div class="col-5">
            <a href="https://github.com/Nancysantana/Viaje-seguro-360" target="_blank"><img src="../assets/images/viajeseguro.png" alt="ViajeSeguro360" class="img-fluid"></img></a>
        </div>
      </div>

      <div class="row mt-5 d-flex  align-items-center">
        <div class="0ffset-1 col-4">
          <a href="https://github.com/Nancysantana/foodmap" target="_blank"><img src="../assets/images/foodmap.png" alt="foodmap" class="img-fluid"></img></a>
        </div>
        <div class="offset-1 col-6 text-center">
          <h2>Foodmap</h2>
          <p>Demo de Aplicación Foodmap que te permite realizar una busqueda de tipos de comida la cual te mostrara el nombre de los Restaurantes. Te ofrece la dirección, sugerencia de platillo y si cuenta con servicio a domicilio.</p>
        </div>
      </div>

      <div class="row mt-5 d-flex  align-items-center">
        <div class="offset-1 col-4 text-center">
          <h2>Lab-car</h2>
          <p>En esta ocación se replico la pagina de lab-car utilizando un framework que nos permitira utilizar grid para dar un mejor diseño responsive.</p>
        </div>
        <div class="col-4">
          <a href="https://github.com/Nancysantana/lab-car" target="_blank"><img src="../assets/images/labcar.png" alt="lab-car" class="img-fluid"></img></a>
        </div>
      </div>


    </div>
  </section>





    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
