<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NancySantana</title>
    <link rel="icon" href="../assets/images/nany1.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
    <section class="conteiner-fluid bfPortafolio">
      <div class="row">
        <div class="col-11">
         <!-- fila de logo -->
          <div class="row ">
            <div class="col-sm-2 offset-sm-1 col-md-2 offset-md-1 mt-2">
              <img src="../assets/images/logo.png" alt="Logo" class="img-fluid rotacion">
            </div>
          </div>
          <!-- seccion de proyecto bbva -->
          <div class="row d-flex justify-content-center align-items-center mt-2 ">
            <div class="col-sm-7 offset-sm-1 col-md-7 offset-md-1 bgtxt">
              <h3 class="mb-3">BBVA Plan</h3>
              <p >BBVA Plan es una aplicación que te ayuda a crear metas de ahorro personalizado, escogiendo reglas de ahorro a tu gusto de manera gratuita y sin comisiones.</p>
              <a class="prtf" href="https://github.com/Nancysantana/BBVAPlanCobraUnit" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            </div>
            <div class="col-sm-3 col-md-3">
              <a href="https://invis.io/M7GS95C9SCA" target="_blank"><img src="../assets/images/bbva.png" alt="bbva" class="img-fluid"></img>
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="offset-sm-1 col-sm-5 col-md-6 offset-md-0">
              <a href="https://andreagurod.wixsite.com/save2save" target="_blank"><img src="../assets/images/save.png" alt="SaveTheChildren " class="img-fluid"></img></a>
            </div>
            <div class="col-sm-6  col-md-5  bgtxt">
              <h3 class="mb-3">SaveTheChildren</h3>
              <p>Optimizar una Landing Page con el objetivo de crear una solución para optimizar el journey de un usuario que llega a Landing Page de Save The Children y convertirlo en DONANTES.</p>
              <a class="prtf" href="https://github.com/Nancysantana/save_the_children" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center mt-3 ">
            <div class="col-sm-5 offset-sm-1 col-md-5 offset-md-1 bgtxt">
              <h3 class="mb-3">ViajeSeguro360</h3>
              <p>Proyecto de optimización de journey del usuario al viajar de Ciudad de México a Cuernavaca y propuesta de solución basada en investigación.</p>
              <a class="prtf" href="https://github.com/Nancysantana/Viaje-seguro-360" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            </div>
            <div class="col-sm-6 col-md-6">
              <a href="https://fotos.subefotos.com/4a9cf0cc537a129767754593b99889f2o.png" target="_blank"><img src="../assets/images/viajeseguro.png" alt="ViajeSeguro360" class="img-fluid"></img></a>
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="offset-sm-1 col-sm-4 col-md-3 offset-md-1">
              <a href="https://nancysantana.github.io/foodmap/" target="_blank"><img src="../assets/images/foodmap.png" alt="foodmap" class="img-fluid"></img></a>
            </div>
            <div class="col-sm-7  col-md-6  bgtxt">
              <h3 class="mb-3">Foodmap</h3>
              <p>Demo de Aplicación Foodmap que te permite realizar una busqueda de tipos de comida la cual te mostrara el nombre de los Restaurantes. Te ofrece la dirección, sugerencia de platillo y si cuenta con servicio a domicilio.</p>
              <a class="prtf" href="https://github.com/Nancysantana/foodmap" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-sm-4 offset-sm-1 col-md-4 offset-md-1 bgtxt">
              <h3 class="mb-3">Lab-car</h3>
              <p>En esta ocación se replico la pagina de lab-car utilizando un framework que nos permitira utilizar grid para dar un mejor diseño responsive.</p>
                <a class="prtf" href="https://github.com/Nancysantana/lab-car" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            </div>
            <div class="col-sm-7 col-md-6">
              <a href="https://nancysantana.github.io/lab-car/" target="_blank"><img src="../assets/images/labcar.png" alt="lab-car" class="img-fluid"></img></a>
            </div>
          </div>
        </div>
      </div>

        <!-- <div class="offset-1 col-6 text-center mt-5 bgtxt">
          <h3 class="mb-5">BBVA Plan</h3>
          <p>BBVA Plan es una aplicación que te ayuda a crear metas de ahorro personalizado, escogiendo reglas de ahorro a tu gusto de manera gratuita y sin comisiones.</p>
        </div>
        <div class="co-4 d-flex justify-content-md-center">
          <div class="col-3">
            <a href="https://github.com/Nancysantana/BBVAPlanCobraUnit" target="_blank"><img src="../assets/images/bbva.png" alt="bbva" class="img-fluid"></img>

          </div>
        </div>
      </div>
      <div class="row mt-5 d-flex  align-items-center">
        <div class="offset-1 col ">
          <a href="https://github.com/Nancysantana/save_the_children" target="_blank"><img src="../assets/images/save.png" alt="SaveTheChildren " class="img-fluid"></img></a>
        </div>
        <div class="col-5 text-center bgtxt">
          <h3 class="mb-5">SaveTheChildren</h3>
          <p></p>
        </div>
      </div>

      <div class="row mt-5 d-flex  align-items-center">
        <div class="offset-1 col-6 text-center bgtxt">
          <h3 class="mb-5">ViajeSeguro360</h3>
          <p>Proyecto de optimización de journey del usuario al viajar de Ciudad de México a Cuernavaca y propuesta de solución basada en investigación.</p>
        </div>
        <div class="col-5">
            <a href="https://github.com/Nancysantana/Viaje-seguro-360" target="_blank"><img src="../assets/images/viajeseguro.png" alt="ViajeSeguro360" class="img-fluid"></img></a>
        </div>
      </div>

      <div class="row mt-5 d-flex  align-items-center">
        <div class="0ffset-2 col-3">
          <a href="https://github.com/Nancysantana/foodmap" target="_blank"><img src="../assets/images/foodmap.png" alt="foodmap" class="img-fluid"></img></a>
        </div>
        <div class="offset-1 col-6 text-center bgtxt">
          <h3 class="mb-5">Foodmap</h3>
          <p>Demo de Aplicación Foodmap que te permite realizar una busqueda de tipos de comida la cual te mostrara el nombre de los Restaurantes. Te ofrece la dirección, sugerencia de platillo y si cuenta con servicio a domicilio.</p>
        </div>
      </div>

      <div class="row mt-5 d-flex  align-items-center">
        <div class="offset-1 col-4 text-center bgtxt">
          <h3 class="mb-5">Lab-car</h3>
          <p>En esta ocación se replico la pagina de lab-car utilizando un framework que nos permitira utilizar grid para dar un mejor diseño responsive.</p>
        </div>
        <div class="col-4">
          <a href="https://github.com/Nancysantana/lab-car" target="_blank"><img src="../assets/images/labcar.png" alt="lab-car" class="img-fluid"></img></a>
        </div>
      </div> -->
      <!-- inicio de footer  -->
      <footer class="row bgfooter d-flex justify-content-center align-items-center mt-3">
          <div class="offset-2 col-4 ">
            <a class="prtf" href="porfolio.html" target="_blank"><i class="fas fa-home fa-2x"></i></a>
          </div>
      </footer>
      <!--fin de footer -->
    </section>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
  </body>
</html>
